RELOGIO_URL="http://192.168.0.0"
RELOGIO_USER="teste fabrica"
RELOGIO_PASS="111111"

HOSTINGER_FTP_HOST="IP_HOSTINGER"
HOSTINGER_FTP_USER="USER_HOSTINGER"
HOSTINGER_FTP_PASS="SENHA_HOSTINGER"
HOSTINGER_REMOTE_FOLDER_PATH="/public_html/pontos/cod_da_loja/"
MACHINE_ID="LOJA"


